<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans default-autowire="byType">
    <bean id="car1" class="beans.Car" autowire="byType">
		<property name="name" value="Audi"></property>
    </bean>
	<bean id="car2" class="beans.Car" autowire="byName">
		<property name="name" value="BMW"></property>
	</bean>
	<bean id="car3" class="beans.Car" autowire="autodetect">
		<!-- <property name="name" value="Jaguar"></property> -->
	</bean>
	<bean id="bus1" class="beans.Bus" autowire="constructor">
	</bean>
	<bean id="bus2" class="beans.Bus" autowire="autodetect">
	</bean>
	<bean id="engine" class="beans.Engine" autowire-candidate="false">
		<property name="name" value="V8"></property>
	</bean>
	<bean id="e2" class="beans.Engine">
		<property name="name" value="V10"></property>
	</bean>
</beans>